.layout_wrapper ul{
        list-style: none;
        display: flex;
        
}
.layout_wrapper ul li{
    margin: 10px;
}
.layout_wrapper{
    background-color: #F0F0F0;
    height: 100vh;
    position: fixed;
    width: 100%;
}
.nav_wrapper{
    border-bottom: 1px solid #C3C3C3;
    padding: 0px 30px;
    display: flex;
    background-color: white;
    align-items: center;  
}
.header_wrapper{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header_wrapper p a{
   text-decoration: none;
}
.nav_wrapper ul{
    margin-left: auto;
}
.instruction{
    background: white;
    padding: 30px;
    margin: 30px;
    border-radius: 5px;
}
.drawer{
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    box-shadow: 0 0 2px;
    transition: .5s;
    z-index: 1;
    width: 350px;
    background-color: #E5E8E8;
}
.drawer .img_close{
    cursor: pointer;
    height: 30px;
    left: 0;
    position: absolute;
    padding: 10px;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}